<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ServiceStack.Plugins.EventStore.TcpEndPoint" value="localhost:1113"/>
    <add key="ServiceStack.Plugins.EventStore.HttpEndPoint" value="localhost:2113"/>
    <add key="ServiceStack.Plugins.EventStore.UserName" value="admin"/>
    <add key="ServiceStack.Plugins.EventStore.Password" value="changeit"/>
  </appSettings>
</configuration>
